.container,
.container-fluid {
  min-width: 1200px;
}

.restaurant-list {
  height: 500px;
  overflow-y: auto;
}

.pin {
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 4px solid deeppink;
  background: white;
}

.pin::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 12px;
  height: 12px;
  border-radius: 10px;
  content: '';
  background: deeppink;
}

.pin:hover {
  z-index: 2;
  cursor: pointer;
  border-color: green;
}

.pin:hover::after {
  background: green;
}

.pin .card {
  position: relative;
  z-index: 1;
  position: absolute;
  width: 80px;
  max-width: 150px;
  max-height: 100px;
  overflow-y: auto;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(calc(-100% - 13px));
  text-align: center;
}

.pin:hover .card {
  z-index: 3;
}

.pin .card .card-body {
  padding: 2px;
  background: deeppink;
  color: white;
}

.pin:hover .card .card-body {
  background: green
}